In [2]:
import pandas as pd
import time
from datetime import datetime, timedelta
from datetime import date
import urllib2
from bs4 import BeautifulSoup

In [4]:
#This generates start and end dates for my url generator
basic_url = 'http://www.baseball-reference.com/games/standings.cgi?year=2015&month='
startyear = ('2015')
startmonth = ('4')
startday = ('5')
endyear = ('2015')
endmonth = ('10')
endday = ('5')

startdate = date(int(startyear), int(startmonth), int(startday))
dates = []
months = []
days = []

while startdate < date(int(endyear), int(endmonth), int(endday)):
    dates.append(startdate)
    months.append(startdate.month)
    days.append(startdate.day)
    startdate += timedelta(days=1)

In [9]:
#this makes a list of urls to iterate over
# you may need to rename this function to something meaningfull since its main function is to get 
# the dataframes
def url_generator(month, day):
    dfs = []
    for i in range(len(month)):
        url = basic_url+str(month[i])+'&day='+str(day[i])+'&submit=Submit+Date'
        # in this location we have month, day and url. no need to add urls to a list
        # you can do your stuff here
        date = "{}-{}-2015".format(month[i], day[i])
        dfs.append(get_day_by_day_results(url, date))
        # urls.append(url)
    return dfs

In [3]:
# urls = url_generator(months, days)
def get_day_by_day_results(url, date):
    soup = BeautifulSoup(urllib2.urlopen(url))
    time.sleep(2)
    t1 = soup.find_all('table', {'class':'padding wide_container'})
    trs = t1[0].find_all('tr')
    second_tr = trs[1]
    second_td = second_tr.find_all('td', {'class':'padding_right'})
    tables = second_td[1].find_all('table')
    al_df = pd.read_html(str(tables[0]))[0] 
    nl_df = pd.read_html(str(tables[1]))[0]
    al_df['type'] = 'al'
    nl_df['type'] = 'nl'
    al_df['date'] = date
    nl_df['date'] = date
    return pd.concat([al_df, nl_df], axis=0)

# big_df = []
# for url in urls:
#     df =  get_day_by_day_results(url)
#     big_df.append(df)
# big_df = pd.concat(big_df, axis=0)

#rename this function as mentioned above

In [14]:
print len(months), len(days)

183 183

In [7]:
ds = [5, 6]
ms = [4, 4]

In [11]:
all_dfs = pd.concat(url_generator(ms, ds), axis=0)

In [12]:
all_dfs

     Tm  W  L  W-L%   GB  RS  RA  pythW-L% type      date
0   CLE  0  0   0.0   --   0   0       NaN   al  4-5-2015
1   SEA  0  0   0.0   --   0   0       NaN   al  4-5-2015
2   MIN  0  0   0.0   --   0   0       NaN   al  4-5-2015
3   DET  0  0   0.0   --   0   0       NaN   al  4-5-2015
4   BAL  0  0   0.0   --   0   0       NaN   al  4-5-2015
5   NYY  0  0   0.0   --   0   0       NaN   al  4-5-2015
6   TEX  0  0   0.0   --   0   0       NaN   al  4-5-2015
7   HOU  0  0   0.0   --   0   0       NaN   al  4-5-2015
8   TBR  0  0   0.0   --   0   0       NaN   al  4-5-2015
9   BOS  0  0   0.0   --   0   0       NaN   al  4-5-2015
10  OAK  0  0   0.0   --   0   0       NaN   al  4-5-2015
11  LAA  0  0   0.0   --   0   0       NaN   al  4-5-2015
12  TOR  0  0   0.0   --   0   0       NaN   al  4-5-2015
13  CHW  0  0   0.0   --   0   0       NaN   al  4-5-2015
14  KCR  0  0   0.0   --   0   0       NaN   al  4-5-2015
0   STL  1  0   1.0   --   3   0     1.000   nl  4-5-2015
1   ARI  0  0   0.0  0.5   0   0       NaN   nl  4-5-2015
2   PHI  0  0   0.0  0.5   0   0       NaN   nl  4-5-2015
3   WSN  0  0   0.0  0.5   0   0       NaN   nl  4-5-2015
4   LAD  0  0   0.0  0.5   0   0       NaN   nl  4-5-2015
5   CIN  0  0   0.0  0.5   0   0       NaN   nl  4-5-2015
6   SDP  0  0   0.0  0.5   0   0       NaN   nl  4-5-2015
7   MIL  0  0   0.0  0.5   0   0       NaN   nl  4-5-2015
8   COL  0  0   0.0  0.5   0   0       NaN   nl  4-5-2015
9   SFG  0  0   0.0  0.5   0   0       NaN   nl  4-5-2015
10  ATL  0  0   0.0  0.5   0   0       NaN   nl  4-5-2015
11  NYM  0  0   0.0  0.5   0   0       NaN   nl  4-5-2015
12  PIT  0  0   0.0  0.5   0   0       NaN   nl  4-5-2015
13  MIA  0  0   0.0  0.5   0   0       NaN   nl  4-5-2015
14  CHC  0  1   0.0  1.0   0   3     0.000   nl  4-5-2015
0   SEA  1  0   1.0   --   4   1     0.927   al  4-6-2015
1   DET  1  0   1.0   --   4   0     1.000   al  4-6-2015
2   BAL  1  0   1.0   --   6   2     0.882   al  4-6-2015
3   HOU  1  0   1.0   --   2   0     1.000   al  4-6-2015
4   BOS  1  0   1.0   --   8   0     1.000   al  4-6-2015
5   OAK  1  0   1.0   --   8   0     1.000   al  4-6-2015
6   TOR  1  0   1.0   --   6   1     0.964   al  4-6-2015
7   KCR  1  0   1.0   --  10   1     0.985   al  4-6-2015
8   CLE  0  1   0.0  1.0   0   2     0.000   al  4-6-2015
9   MIN  0  1   0.0  1.0   0   4     0.000   al  4-6-2015
10  NYY  0  1   0.0  1.0   1   6     0.036   al  4-6-2015
11  TEX  0  1   0.0  1.0   0   8     0.000   al  4-6-2015
12  TBR  0  1   0.0  1.0   2   6     0.118   al  4-6-2015
13  LAA  0  1   0.0  1.0   1   4     0.073   al  4-6-2015
14  CHW  0  1   0.0  1.0   1  10     0.015   al  4-6-2015
0   STL  1  0   1.0   --   3   0     1.000   nl  4-6-2015
1   LAD  1  0   1.0   --   6   3     0.780   nl  4-6-2015
2   CIN  1  0   1.0   --   5   2     0.842   nl  4-6-2015
3   COL  1  0   1.0   --  10   0     1.000   nl  4-6-2015
4   SFG  1  0   1.0   --   5   4     0.601   nl  4-6-2015
5   ATL  1  0   1.0   --   2   1     0.780   nl  4-6-2015
6   NYM  1  0   1.0   --   3   1     0.882   nl  4-6-2015
7   ARI  0  1   0.0  1.0   4   5     0.399   nl  4-6-2015
8   CHC  0  1   0.0  1.0   0   3     0.000   nl  4-6-2015
9   PHI  0  1   0.0  1.0   0   8     0.000   nl  4-6-2015
10  WSN  0  1   0.0  1.0   1   3     0.118   nl  4-6-2015
11  SDP  0  1   0.0  1.0   3   6     0.220   nl  4-6-2015
12  MIL  0  1   0.0  1.0   0  10     0.000   nl  4-6-2015
13  PIT  0  1   0.0  1.0   2   5     0.158   nl  4-6-2015
14  MIA  0  1   0.0  1.0   1   2     0.220   nl  4-6-2015

In [ ]:
all_dfs = url_generator(months, days)
all_dfs = pd.concat(all_dfs, axis=0)