In [1]:
import math
from scipy.special import gamma as Gamma
from scipy.stats import beta

In [2]:
def my_beta(a,b):
    beta_num = (math.gamma(a)*math.gamma(b))/math.gamma(a+b)
    return beta_num

In [3]:
import pandas as pd

In [8]:
pre_poll = pd.read_csv('../datasets/polls.csv')
pre_poll.head(10)

       org  year survey  bush  state  edu  age  female  black  weight
1   cbsnyt     1   9152   1.0      7    2    2       1      0    1403
2   cbsnyt     1   9152   1.0     33    4    3       0      0     778
3   cbsnyt     1   9152   0.0     20    2    1       1      0    1564
4   cbsnyt     1   9152   1.0     31    3    2       1      0    1055
5   cbsnyt     1   9152   1.0     18    3    1       1      0    1213
6   cbsnyt     1   9152   1.0     31    4    2       0      0     910
7   cbsnyt     1   9152   1.0     40    1    3       0      0     735
8   cbsnyt     1   9152   1.0     33    4    2       1      0     410
9   cbsnyt     1   9152   0.0     22    4    2       1      0     410
10  cbsnyt     1   9152   1.0     22    4    3       0      0     778

In [10]:
pre_poll.drop('org', axis=1, inplace=True)

In [11]:
pre_poll.age.value_counts()

2    4788
3    3429
1    3149
4    2178
Name: age, dtype: int64

In [12]:
pre_poll.state.value_counts()

5     1493
33     894
44     788
10     750
39     616
36     605
14     567
23     530
31     428
48     393
50     389
22     373
47     354
34     346
43     329
11     316
26     309
15     291
24     289
21     284
41     223
25     220
18     210
1      203
19     196
3      194
6      181
7      171
38     149
16     143
17     141
37     130
28     125
4      121
49     117
32     109
40      91
45      79
42      60
35      60
20      51
13      42
27      40
8       39
29      32
30      27
9       19
51      15
46      12
Name: state, dtype: int64

In [14]:
c1=pre_poll['state']==1
c2 = pre_poll['age'] == 4
subset_interest = pre_poll[c1 & c2]
subset_interest

       year survey  bush  state  edu  age  female  black  weight
707       1   9152   NaN      1    1    4       1      0    1498
1827      2   9153   NaN      1    1    4       1      0    1538
6517      4   9155   1.0      1    2    4       1      0    1487
7201      5  9156a   1.0      1    2    4       1      0    1203
7977      5  9156b   1.0      1    2    4       1      0     601
8270      5  9156b   NaN      1    2    4       0      0    1498
8455      5  9156b   0.0      1    4    4       0      0     714
8624      5  9156b   0.0      1    1    4       1      0     601
9311      6   9157   NaN      1    2    4       0      0    1002
9496      6   9157   0.0      1    4    4       0      0     776
9665      6   9157   0.0      1    1    4       1      0    1042
10927     6   9157   0.0      1    4    4       1      0     968
11224     6   9157   1.0      1    2    4       1      0     833
11289     6   9157   0.0      1    1    4       1      0    2084
11332     6   9157   NaN      1    1    4       1      0    2084
12035     7   9158   0.0      1    4    4       1      0     934
12332     7   9158   1.0      1    2    4       1      0     880
12397     7   9158   0.0      1    1    4       1      0    2083
12440     7   9158   NaN      1    1    4       1      0    2083
12507     7   9158   1.0      1    1    4       0      0    1321
13272     7   9158   1.0      1    1    4       1      0    1042
13459     7   9158   1.0      1    4    4       1      0     311

In [15]:
test_set=subset_interest.dropna()
print test_set.head()
len(test_set['bush'].unique())

      year survey  bush  state  edu  age  female  black  weight
6517     4   9155   1.0      1    2    4       1      0    1487
7201     5  9156a   1.0      1    2    4       1      0    1203
7977     5  9156b   1.0      1    2    4       1      0     601
8455     5  9156b   0.0      1    4    4       0      0     714
8624     5  9156b   0.0      1    1    4       1      0     601

2

In [16]:
print test_set['female']

6517     1
7201     1
7977     1
8455     0
8624     1
9496     0
9665     1
10927    1
11224    1
11289    1
12035    1
12332    1
12397    1
12507    0
13272    1
13459    1
Name: female, dtype: int64

In [17]:
import numpy as np
container = {}
bush_quotient = 0

for age in pre_poll['age'].unique():     # Spanning through all year-state combinations
    for state in pre_poll['state'].unique(): 
        c1 = pre_poll['state'] == state
        c2 = pre_poll['age'] == age
        subset_interest = pre_poll[c1 & c2]  # Subsetting the data 
        
        contain = subset_interest['bush'].unique()  
        contain = contain[~np.isnan(contain)]   # Remove the NaNs - Think why can't we use dropna()?
        
        if len(contain) == 2:
            #Computing the Quotient that polled for Bush in the pre-poll for a particular age-state combination
            bush_quotient = float(subset_interest['bush'].value_counts()[1])/(float(subset_interest['bush'].value_counts()[1])+float(subset_interest['bush'].value_counts()[0]))
            temp_name = str(state)+','+str(age)
            container[temp_name] = bush_quotient

            
# Likewise, let's also produce a dictionary with the general poll percentages for state (no age)

container2 ={}
for state in pre_poll['state'].unique(): 
    c1 = pre_poll['state'] == state
    subset_interest = pre_poll[c1]  # Subsetting the data 
    contain = subset_interest['bush'].unique()  
    contain = contain[~np.isnan(contain)]   # Remove the NaNs - Think why can't we use dropna()?
        
    if len(contain) == 2:
        bush_quotient = float(subset_interest['bush'].value_counts()[1])/(float(subset_interest['bush'].value_counts()[1])+float(subset_interest['bush'].value_counts()[0]))
        temp_name = str(state)
        container2[temp_name] = bush_quotient

In [18]:
container2['1']

0.710691823899371

In [21]:
container.keys()[0:5]

['19,2', '19,3', '19,1', '19,4', '1,4']

In [23]:
election88_dat = pd.read_csv('../datasets/election88.csv')
election88_dat.head()

   stnum  st  electionresult  samplesize    raking  _merge
1      1  AL            0.59         203  0.673067       3
2      2  AK            0.60           0       NaN       1
3      3  AZ            0.60         194  0.568980       3
4      4  AR            0.56         121  0.563672       3
5      5  CA            0.51        1493  0.531725       3

In [27]:
print election88_dat.head(1)
print 203*0.59
print 203*0.71

   stnum  st  electionresult  samplesize    raking  _merge
1      1  AL            0.59         203  0.673067       3
119.77
144.13

In [28]:
import scipy.integrate as integrate
from scipy.stats import beta


# UN comment to get the error 
# 1/my_beta(141, 263)
def func1(x):
    return (x)**263*(1-x)**141


integrate.quad(lambda x: func1(x) ,0, .65)[0]

9.445274979232658e-116

In [29]:
def log_beta(a,b):
    beta_num = math.exp(math.lgamma(a) + math.lgamma(b) - math.lgamma(a+b))
    return beta_num

In [30]:
log_beta(141,263)*integrate.quad(lambda x: func1(x) ,0, .65)[0]

8.005670778380035e-230